$text-color-base: #000;
$text-color-primary: #fff;

$background-color-base: #fe00b6;
$background-color-primary: #e5222b;
$background-color-secondary: #293132;
$background-color-tertiary: #7f28c4;
$background-color-quartery: #f0f0f0;
