@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

footer{
    text-align: center;
    
    background-color: var.$background-color-secondary ;
    
    p{
        color: var.$text-color-primary;
        padding: 10px 0px;
    }
}
