@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

header {
  background-color: var.$background-color-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  @include mix.laptop-m-styles {
      padding: 0px 10px;
    }
        @include mix.tablet-styles {
          padding: 0px 40px;
        }
  font-size: 15px;
  @include mix.laptop-l-styles{
    font-size: 13px;
  }
     @include mix.laptop-s-styles {
       font-size: 11px;
     }

  .img {
    text-align: center;
    margin: 30px 0px 30px 30px;
    @include mix.laptop-l-styles {
        margin: 30px 20px 30px 10px;
      }
            @include mix.mobile-l-styles {
              margin: 10px 10px 10px 0px;
            }

    img {
      height: 50px;
      width: 50px;
      @include mix.mobile-l-styles {
          height: 40px;
            width: 40px;
        }
    }
    p {
      text-transform: uppercase;
      @extend %boldtext;
      @include mix.mobile-l-styles {
          font-size: 10px;
        }
    }
        a {
          text-decoration: none;
          @extend %boldtext;
        }
  }
  nav{
    @include mix.tablet-styles {
        display: none;
      }
  }
  ul {padding: 0px;
    display: flex;
    & :not(:last-child) {
      margin-right: 55px;
      @include mix.laptop-m-styles {
          margin-right: 20px;
        }
        
    }
    a {
      text-decoration: none;
      @extend %boldtext;

    }
    li {
      list-style: none;
    }
  }
  .button {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: var.$button-color;
    padding: 5px 15px;
    border-radius: 5px;
    @include mix.tablet-styles {
        display: none;
      }
  }
  button{
    border: none;
    background-color: var.$background-color-primary;
    
  .fa-bars{
    font-size: 30px;
    color: black;
    display: none;
    pointer-events: none;
    @include mix.tablet-styles {
        display: inline-block;
      }
    
  }
    }
}
